@charset "utf-8";

.session_header {
    float: right;
    font-size: 16px;
}

#welcome { 
    padding-top: 20px;  
    padding-right: 20px; 
    color: #332157;
    font-weight: bold;
}

#logout { 
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
}

div.pagebody {
    background-color: #332157;
    margin: auto;
    padding: 40px;
    width: 80%;
	color: #e6e6dd;
    font-size: 16px;
    border-radius: 5px;
}